{% extends "base.html" %}
{% block content %}

{% if not olympiad %}
<h1>There is no olympiad with such number</h1>

{% elif olympiad.level == '0' %}
<h1> {{ olympiad.name }} </h1>

{% else %}
<h1> {{ olympiad.name }} - уровень {{ olympiad.level }} </h1>

{% endif %}

{% for exercise in exercises %}
<h2>
<a href="/olympiads/exercises/{{ exercise.slug }}">{{ exercise.type }} {{ exercise.code }} ({{ exercise.period.start_year }}-{{ exercise.period.end_year }})</a>
</h2>
{% endfor %}


{%endblock%}